<!DOCTYPE html>
<html>
<head>
<title>games</title>
</head>
<body>
<div class= "row">
  <div class = "column">
    <%= form_for @conn,"/game", fn f -> %>
      <p>Enter a Game Name: <%= text_input f, :x %></p>
      <p><%= submit "Enter" %></p>
    <% end %>
 
    <ul> 
      <li> memory </li>
      <li> hangman </li>
    </ul>
  </div>
</div>
</body>
</html>
