<!DOCTYPE html>
<html>
<head>
<title>memory</title>
<script>
  window.gameName = "<%= @name %>";
</script>
</head>
<body>

<h1>Memory Game</h1>


<div id="root">
  React app loading...  
</div>
</body>
</html>
